body
  font-family: 'Open Sans', sans-serif
  background-color: #fff
  color: #212121
  font-size: 15px
.section
  text-align: center
  padding: 100px 0
  &-title
    font-size: 30px
    font-weight: 700
    line-height: 0.73em
    letter-spacing: 1.5px
  &__title
    margin-bottom: 30px
  &-subtitle
    font-size: 20px
    font-weight: 600
    line-height: 1.1em
    letter-spacing: 1px
    margin: 0
    margin-top: 30px
    margin-bottom: 25px
  &-text
    max-width: 620px
    margin: 0 auto
    line-height: 1.3em    
a
  text-decoration: none    
.btn
  display: inline-block
  background-color: transparent
  padding: 25px 35px
  text-transform: uppercase
  border: 2px solid #212121
  color: #212121
  font-size: 20px
  font-weight: 700
  margin: 10px
  &:hover
    color: #fff
    transition: 0.2s
    cursor: pointer
    background-color: #00897b
    border-color: #00897b
  &:active
    background-color: #00776b
footer
  font-size: 20px
  font-weight: 600
  text-align: center
  padding-top: 10px
  padding-bottom: 10px      
@media (max-width: 768px)
  .section
      padding: 50px 0