.hero
  width: 100%
  background: url('../img/hero/bg-hero.png') #000 no-repeat 50% 80%
  background-size: cover
  color: #fff
  text-align: center
  vertical-align: middle
  padding: 200px 0
  &__title
    margin: 0
    font-size: 60px
    line-height: 3em
    letter-spacing: 0.05em
    font-weight: 800
  &__subtitle
    margin: 0
    font-size: 22px
    line-height: 1em
    letter-spacing: 0.05em
    font-weight: 400
  &__btn-block
    margin-top: 100px
  &-btn
    width: 220px
    color: #ffffff
    border: 3px solid #f8f8f8
@media (max-width: 768px)
  .hero
    padding: 100px 0
    &__title
      font-size: 40px
      line-height: 1.5em
    &__subtitle
      font-size: 18px
      line-height: 2em


     