.pricing
  background-color: #f0f0f0
  &__block
    margin-top: 120px
  &-block
    display: flex
    justify-content: center
    flex-wrap: wrap
    &__item
      width: 33%
      max-width: 360px
      padding: 50px
      margin: 15px
      background-color: #fff
      background-image: url('../img/pricing/bg-pricing-item.png')
      background-repeat: no-repeat
      &:hover
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35)  
    &__title
      color: #ffffff
      font-size: 25px
      font-weight: 400
      letter-spacing: 1.25px
      line-height: 1em
    &__price
      color: #ffffff
      font-size: 17px
      letter-spacing: 0.85px
      span
        font-size: 50px       
        sup
          font-size: 25px
    &__advantages
      list-style: none
      margin: 0
      margin-bottom: 50px
      margin-top: 50px
      padding: 0
      li
        display: inline-block
        margin: 0
        width: 175px
        padding: 10px
        padding-top: 30px
        border-bottom: 1px solid #bfbfbf
@media (max-width: 1199px)
  .pricing
    &-block
      &__item
        width: 50%
@media (max-width: 768px)
  .pricing
    &-block
      &__item
        width: 100%
@media (max-width: 576px)
  .pricing
    &-block
      &__title
        left: 30%
      &__price
        left: 23%  
        